<nav height="40%" widht="100%" class="navbar navbar-expand-lg">
  <a class="navbar-brand" [routerLink]="root">
    <i style="font-size: 20px"></i>

    <span class="p-3 d-inline-block text-dark logoc"
      ><h3 style="color: #ffe500">SHOP FOR HOME</h3>
    </span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div
      class="navbar-nav"
      *ngIf="!currentUser || currentUser.role == Role.Customer"
    >
      <a
        class="h3 nav-item nav-link my-md-4 px-3"
        routerLink="/category/0"
        style="color: #f8f8f8"
      >
        Beds
      </a>
      <a
        class="h3 nav-item nav-link my-md-4 px-3"
        routerLink="/category/1"
        style="color: #f8f8f8"
      >
        Carpets
      </a>
      <a
        class="h3 nav-item nav-link my-md-4 px-3"
        routerLink="/category/2"
        style="color: #f8f8f8"
      >
        Chairs
      </a>
      <a
        class="h3 nav-item nav-link my-md-4 px-3"
        routerLink="/category/3"
        style="color: #f8f8f8"
      >
        Sofas
      </a>
    </div>

    <div class="navbar-nav ml-auto">
      <a
        *ngIf="!currentUser || currentUser.role == Role.Customer"
        class="h3 nav-item nav-link my-md-4 px-3"
        routerLink="/cart"
        style="color: #f8f8f8"
      >
        <i class="fas fa-shopping-cart" style="color: #f8f8f8"></i>
        Cart
      </a>

      <div
        class="navbar-nav"
        *ngIf="currentUser && currentUser.role == Role.Manager"
        style="color: #f8f8f8"
      >
        <!-- <a
          class="h3 nav-item nav-link my-md-4 px-3"
          routerLink="/discount"
          style="color: #f8f8f8"
          >Discount</a
        > -->
        <a
          class="h3 nav-item nav-link my-md-4 px-3"
          (click)="getUsers()"
          routerLink="/admin/user"
          style="color: #f8f8f8"
          >Users</a
        >
        <a
          class="h3 nav-item nav-link my-md-4 px-3"
          routerLink="/seller/product"
          style="color: #f8f8f8"
          >Stocks</a
        >
      </div>

      <div
        class="navbar-nav"
        *ngIf="currentUser && currentUser.role == Role.Customer"
      >
        <a
          class="h3 nav-item nav-link my-md-4 px-3"
          routerLink="/wishlist"
          style="color: #f8f8f8"
          >Wishlist</a
        >
      </div>

      <ng-container *ngIf="currentUser; else noUser">
        <!-- <a class="nav-item nav-link"  routerLink="/discount">Discount</a>
                <a class="nav-item nav-link" (click)=getUsers() routerLink="/admin/user">Users</a>
                <a class="nav-item nav-link" routerLink="/seller/product">Stocks</a> -->
        <a
          class="h3 nav-item nav-link my-md-4 px-3"
          routerLink="/order"
          style="color: #f8f8f8"
        >
          <i class="fas fa-list-ul"></i>
          Orders
        </a>
        <a
          class="h3 nav-item nav-link my-md-4 px-3"
          routerLink="/profile"
          style="color: #f8f8f8"
        >
          {{ name }}
        </a>
        <a
          class="h3 nav-item nav-link my-md-4 px-3"
          (click)="logout()"
          routerLink="/login"
          [queryParams]="{ logout: true }"
          style="color: #f8f8f8"
        >
          Sign Out
        </a>
      </ng-container>
      <ng-template #noUser>
        <a
          class="h3 nav-item nav-link my-md-4 px-3"
          routerLink="/login"
          style="color: #f8f8f8"
        >
          Sign In
        </a>
        <a
          class="h3 nav-item nav-link my-md-4 px-3"
          routerLink="/register"
          style="color: #f8f8f8"
        >
          Sign Up
        </a>
      </ng-template>
    </div>
  </div>
</nav>
